@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --purple-accent: #cba2ff;
  --purple-dark: #9b6dd6;
  --surface: #1a1a1a;
  --surface-light: #242424;
  --border: #2a2a2a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
